@charset "UTF-8";
:root {
  --primary-background-color: #ffffff;
  --section-background-color: #ebebeb;
  --footer-gradient: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  --hero-gradient: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  --primary-text-color: #000000;
  --title-color: #bdbdbd;
  --subtitle-color: #333333;
  --footer-text-color: #c4c4c4;
  --accent-color: #005fa3;
  --inversed-text-color: #ffffff;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 1.38;
}

/* Сброс геометрии элементов по - умолчанию. */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
  list-style-type: none;
}

/* Задан, чтобы убрать нижний отступ у картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: var(--accent-color);
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.features, .about {
  padding-top: 140px;
  padding-bottom: 140px;
}

.about__title {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.38;
  margin-bottom: 40px;
  color: var(--title-color);
}

.header__flexed-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo__symbol {
  width: 40px;
  height: 40px;
}

.logo__title {
  margin-left: 30px;
  font-family: Merriweather;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 1.38;
  color: var(--accent-color);
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.31;
}

.contacts__item:not(:first-child) {
  margin-left: 40px;
}

.contacts__symbol {
  width: 17px;
  height: 17px;
  margin-right: 15px;
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.21;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.site-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}

.hero {
  height: 670px;
  max-width: 1920px;
  background-color: var(--subtitle-color);
  background-image: var(--footer-gradient), url(../../images/hero-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: var(--hero-gradient), url(../../images/hero-background@2x.jpg);
  }
}

.hero__flexed-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1110px;
  height: 100%;
  margin: 0 auto;
}

.hero__title {
  max-width: 590px;
  margin-bottom: 80px;
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 1.38;
  color: var(--inversed-text-color);
}

.hero__button {
  width: 270px;
  height: 60px;
  background-color: var(--accent-color);
  color: var(--inversed-text-color);
}

.features {
  background-color: var(--section-background-color);
}

.features__title {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.38;
  margin-bottom: 40px;
  color: var(--title-color);
}

.features__subtitle {
  font-family: Merriweather;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 1.44;
  margin-bottom: 100px;
  color: var(--subtitle-color);
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.features__item {
  display: inline-block;
  margin-top: 30px;
  margin-left: 30px;
  -ms-flex-preferred-size: calc((100% - 90px) / 3);
      flex-basis: calc((100% - 90px) / 3);
}

.about__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__subtitle {
  font-family: Merriweather;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 1.44;
  width: 350px;
  margin-bottom: 60px;
  color: var(--subtitle-color);
}

.about__subtitle--colored {
  color: var(--accent-color);
}

.about__text {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.39;
  max-width: 400px;
}

.about__list-wrapper {
  max-width: 50%;
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
  height: 100%;
}

.about__item {
  margin-top: 30px;
  margin-left: 30px;
  -ms-flex-preferred-size: calc((100% - 60px) / 2);
      flex-basis: calc((100% - 60px) / 2);
  background-color: var(--section-background-color);
}

.about__content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 30px;
  margin-left: 40px;
}

.deals__number {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 55px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.deals__text {
  max-width: 110px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: normal;
  text-transform: unset;
  margin-bottom: 50px;
}

.about__link {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.29;
  margin-bottom: 40px;
}
/*# sourceMappingURL=main.css.map */