html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 1.38;
}
/* Сброс геометрии элементов по - умолчанию. */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  padding-left: 0;
  list-style: none;
  list-style-type: none;
}
/* Задан, чтобы убрать нижний отступ у картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  color: var(--accent-color);
}

.container {
  width: 1110px;
  margin: 0 auto;
}
