%section-paddings {
  padding-top: 140px;
  padding-bottom: 140px;
}
%title-style {
  @include fontSource(Lato, normal, 900, 24px, 1.38);
  margin-bottom: 40px;

  color: var(--title-color);
}
%subtitle-style {
  @include fontSource(Merriweather, normal, 900, 48px, 1.44);

  color: var(--subtitle-color);
}
%content-style {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.39;
}
