:root {
  // background-colors
  --primary-background-color: #ffffff;
  --section-background-color: #ebebeb;
  --footer-gradient: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  // text-colors
  --primary-text-color: #000000;
  --title-color: #bdbdbd;
  --subtitle-color: #333333;
  --footer-text-color: #c4c4c4;
  --accent-color: #005fa3;
  --inversed-text-color: #ffffff;
}
